/* Primary and accent color aliases */
$white: palette(White);

/* Base colors for base components */
$primary-color: palette(Blue, A200);
$navigation-background-color: palette(Red, A200);
$primary-button-color: palette(Red, A200);
$flat-button-background-color: palette(Red, A200);
