@keyframes onButtonClick {
  from { transform: scale(1); }
  50%  { transform: scale(1.1); }
  to   { transform: scale(1); }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
