#photos {
  color: palette(Grey, 800);
  background-color: #FFFFFF;
  h2 {
    font-size: 3em;
    text-align: left;
  }

  h3 {
    text-align: right;
    margin-bottom: 1em;
  }

  .material-icons {
    display: inline-block;
    text-align: center;
  }
  padding-bottom: 10em;
}
