
.button {
  font-size: 1.2em;
  &:hover {
    animation-name: onButtonClick;
    animation-duration: 0.25s;
  }
  &:focus {
    outline: none;
  }
}

.flat-button {
  @extend .button;
  background-color: $primary-color;
  color: $white;
  margin: 0.3em;
  padding: 0.5em 0.75em;
  border-radius: 5%;
  transition-duration: 0.15s;
  border: none;
  font-size: 1.1em;

  &:hover {
    background-color: palette(Blue Grey, 50);
    color: $primary-button-color;
  }
}

.primary-button {
  border: 1px solid;
  color: $primary-button-color;
  background-color: rgba(255, 255, 255, 0);
  border-color: $primary-button-color;
}

.button-right-icon {
  font-size: 1.1em;
  margin-top: 0.25em;
  padding-left: 0.5em;
}
