.hero {
  @include vertical-center;
  z-index: 1;
  position: relative;
  height: 45em;
  text-align: center;
  overflow: hidden;

      // Fixed-position background image
    &::before {
      content: ' ';
      position: fixed; // instead of background-attachment
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: white;
      background: url('http://i.imgur.com/GFfEcxe.jpg') no-repeat center center;
      background-size: cover;
      will-change: transform; // creates a new paint layer
      z-index: -1;
    }


  @media screen and (max-width: 768px) {
      background-size: cover;
      background-position-x: 50%;
  }


  .overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  h1 {
    text-transform: uppercase;
    animation-name: zoomIn;
    animation-duration: 1s;
    transition-duration: 0.25s;

    &:hover {
      color: palette(Blue Grey, 100);
      transform: scale(1.05);
    }
  }

  h1, h3 {
    margin: 0.2em;
    color: $white;
  }

  h3 {
    font-family: 'Andada', serif;
    font-size: 2em;
    color: palette(Blue Grey, 300)
  }
}
